<div class="page-header">
  <h1><%= @request_type.code %> <small>Request Type</small></h1>
</div>

<table class="table table-striped">
  <tbody>
    <tr>
      <th>Code:</th>
      <td id="code"><%= @request_type.code %></td>
    </tr>

    <tr>
      <th>Name:</th>
      <td id="name"><%= @request_type.name %></td>
    </tr>
  </tbody>
</table>

<%= render 'shared/show_action_buttons', object: @request_type %>
