<div class='role nested-fields'>
 	<%= link_to_remove_association("remove", f, { class: 'pull-right remove-role' }) unless !edit_or_new?  %> 
  <%= f.input :organization_id, collection: Organization.all, label_method: :description,
    value_method: :id,  as: :select, required: true, disabled: !edit_or_new? %>
</div>
