<%= flash_messages %>

<div class="container signed-out">
  <div class="jumbotron">
    <h1>Signed Out</h1>
    <p>You are signed out of the application. Please be aware that you may still 
    have a valid CAS session. To logout of CAS, close your browser or visit <a href="https://login.umd.edu/cas/logout">this link</a>
    </p>
  </div>
</div>
