<%#
# Displays "Admin Use Only" section for personnel request "Show" pages 
%>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Admin Use Only</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Request Status:</th>
          <td id="request_status"><%= object.review_status.name if object.review_status %></td>
        </tr>
        <tr>
          <th>Review Comment:</th>
          <td id="review_comment"><%= object.review_comment %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>