<div class='table-responsive' >
  <table class="table table-striped <%= 'archive' if archive? %>">
    <%= render partial: "shared/table_header", locals: { klass: klass } %>
    <%= render partial: "shared/table_body", locals: { records: records }  %> 
  </table>
</div>
