<td headers="actions">
  <span style="white-space: nowrap">
    <% if policy(object).show? %>
      <%= link_to object, class: "btn btn-default", title: "Details" do %>
        <i class="glyphicon glyphicon-option-horizontal"></i>
      <% end %>
    <% end %>
    <% if policy(object).edit? %>
      <%= link_to edit_polymorphic_path(object), class: "btn btn-info", title: "Edit" do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
    <% end %>

    <% if policy(object).destroy? %>
      <% if object.respond_to?('allow_delete?') && !object.allow_delete? %>
        <button class="btn btn-danger delete" disabled="disabled"><i class="glyphicon glyphicon-trash"></i></button>
      <% else %>
        <%= link_to object, method: :delete,
              data: { confirm: confirm_delete_text(object) }, class: "btn btn-danger delete", title: "Delete" do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      <% end %>    
    <% end %>
  </span>
</td> 
