<table class="table table-striped">
  <%= render partial: "shared/table_header", locals: { model_type: model_type } %>
  <%= render partial: "shared/table_body", locals: { records: records }  %> 
</table>
