<div class='table-responsive' >
  <table class="table table-striped">
    <%= render partial: "shared/table_header", locals: { klass: klass } %>
    <%= render partial: "shared/table_body", locals: { records: records }  %> 
  </table>
</div>
