// Override icon color change when link has been visited
a:visited {
  .glyphicon-pencil {
    text-decoration:none;
    background-color:transparent;
    color: white;
  }
  .glyphicon-trash {
    text-decoration:none;
    background-color:transparent;
    color: white;
  }
}

// Tables for details pages should have header column as small as possible,
// without wrapping
tbody tr th {
  width: 0px;
  white-space: nowrap;
}

// Increase width for elements that might have more text
input[id$="position_title"],
input[id$="contractor_name"],
input[id$="employee_name"],
input[id$="nonop_source"],
textarea[id$="justification"],
textarea[id$='review_comment']
{
  width: 96%; // Leave space for "tooltip" icon
}

// Workaround until error styling is added to textarea in umd_lib_style
// See LIBITD-659
.field_with_errors textarea {
  border: 2px solid #a94442;
}

// Help text icon - override icon colors and size
.help-text-icon:after {
  background-color: transparent;
  color: #3366ff;
  font-size: 110%;
  font-family: "Glyphicons Halflings";
  content: "\e085"; // glyphicon-question-sign
  font-style: normal
}

// Display white space when displaying Justification field
[id="justification"]
{
  white-space: pre-wrap
}

// Show pointer for collapsible "Admin" panel on home page.
#admin-panel {
  cursor: pointer;
}

// Impersonate CSS settings
$impersonate_background: darkorchid;
$impersonate_color: white;
$impersonate_height: 25px;

.impersonate {
  background-color: $impersonate_background;
  text-align: center;
  color: $impersonate_color;
  display:inline-block;
  width: 100%;
  height: $impersonate_height;
}

.impersonate button {
  color: $impersonate_background;
  float: right;
}

// Impersonate button
.btn-impersonate {
  background-color: $impersonate_background;
  color: $impersonate_color;
}

.btn-impersonate:hover {
  background-color: darken($impersonate_background, 5%);
  color: $impersonate_color !important;
}

.impersonate-extra-padding-top {
  padding-top: $impersonate_height;
}
