// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-header { position: relative; }
ul.version { position: absolute; right: 0; bottom: 8px; list-style: none; }
ul.version li { display: inline; margin: 0 5px; font-size: 10px; }

ul.requests-homepage { list-style: none; }
ul.requests-homepage a.list-group-item { font-weight: bold;  }
