// Impersonate CSS settings

$impersonate_background: darkorchid;
$impersonate_color: white;
$impersonate_height: 35px;


@import 'home.css.scss';
@import 'impersonate.css.scss';
@import 'form.css.scss';
