<div class="page-header">
  <h1>New Report</h1>
</div>
<% @report.manager.reports.each do |r| %>
  <%= render partial: "#{r.last.to_s}_form", locals: { subreport: @report.manager.report_for(r.last), report_name: r.first } rescue nil %>
<% end %>
