<% if impersonating_user? %>
  <div class="impersonate"><%= form_tag revert_impersonate_user_url,
          :method => :delete do %>
    Currently Impersonating: <%= impersonated_user.cas_directory_id %>
    <button type = "submit">Stop impersonation</button>
  <% end %></div>
<% end %>